---
import { calculateDaysTogether, formatDisplayDate } from '../utils/date';

interface Props {
	startDate: string;
}

const { startDate } = Astro.props;
const daysTogether = calculateDaysTogether(startDate);
---

<div class="counter-card">
	<p class="eyebrow">从 {formatDisplayDate(startDate)} 开始</p>
	<p class="counter-number">{daysTogether}</p>
	<p class="counter-label">我们已经一起走过的日子</p>
	<p class="counter-tip">愿以后翻到这里的时候，数字已经比现在大了很多很多。</p>
</div>
